<a href="https://colab.research.google.com/github/aaltmets/Masterthesis/blob/main/textdatacleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import re

In [ ]:
df = pd.read_csv('you_file.csv')
pd.set_option('display.max_columns', None)

<ipython-input-3-d545a254820d>:1: DtypeWarning: Columns (6,24,27) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('all_no_bots.csv')

In [ ]:
df["text"]= df["text"].astype(str)

In [ ]:
#define a regular expression pattern 
pattern = re.compile(r'#\w+')

#create a column for hashtags 
df['hashtags'] = df['text'].apply(lambda x: pattern.findall(x))

#print the new dataframe

In [ ]:
#remove hashtags from text 
def remove_hashtags(text):
    hashtag_pattern = re.compile(r'#\w+')
    return hashtag_pattern.sub(r'', text)

df['text'] = df['text'].apply(remove_hashtags)

In [ ]:
#remove URLS from text 
def remove_urls(text):
    url_pattern = re.compile(r'https?://\S+|www\.\S+')
    return url_pattern.sub(r'', text)

df['text'] = df['text'].apply(remove_urls)

In [ ]:
#remove mentions 

def remove_mentions(text):
    mention_pattern = re.compile(r'@[A-Za-z0-9]+')
    return mention_pattern.sub(r'', text)



df['text'] = df['text'].apply(remove_mentions)

In [ ]:
#remove special characters 
def remove_special_chars(text):
    special_char_pattern = re.compile(r'[^a-zA-Z0-9\s]')
    return special_char_pattern.sub(r'', text)


df['text'] = df['text'].apply(remove_special_chars)

In [ ]:
def remove_special_signs(text):
    remove_special_signs = re.compile(r'\'')
    return remove_special_signs.sub(r'', text)


df['text'] = df['text'].apply(remove_special_signs)

In [ ]:
#Remove stopwords 

import nltk
nltk.download('stopwords')

from nltk.corpus import stopwords

stop_words = set(stopwords.words('english'))

def remove_stopwords(text):
    tokens = text.split()
    filtered_tokens = [word for word in tokens if word.lower() not in stop_words]
    filtered_text = ' '.join(filtered_tokens)
    return filtered_text


df['text'] = df['text'].apply(remove_stopwords)

In [ ]:
#Tokenize data 

# first change words to lower_case 
df["text"]= df["text"].astype(str)

df['text'] = df['text'].apply(lambda x: x.lower())

df['text'] = df['text'].apply(lambda x: x.split())

In [ ]:
df.to_csv('cleantext.csv')

In [ ]:
df = pd.read_csv('cleantext.csv')

<ipython-input-3-740e7344c2e9>:1: DtypeWarning: Columns (7,25,28) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('cleantext.csv')

In [ ]:
df.shape

(126942, 33)

In [ ]:
df = df.drop_duplicates(subset=['text'])

In [ ]:
df.shape

(119594, 33)

In [ ]:
df.to_csv('cleantext.csv')

In [ ]:
grouped_data = df.groupby('bot').agg({'author_id': 'nunique', 'tweet_id': 'count'})

In [ ]:
grouped_data

         author_id  tweet_id
bot
not_bot      81238    119594